/* Reseta margens padrões do navegador */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loja-container {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #fff5f5;
  min-height: 100vh;
}

.loja-header {
  text-align: center;
  padding: 40px 20px;
  background-color: #ffe3e3;
}

.loja-container footer {
    text-Align: center;
    padding: 20px;
    background-Color: #343a40;
    color: white;
    font-Size: 0.9rem;
  }

.loja-title {
  font-size: 2.5rem;
  color: #d63384;
  margin-bottom: 10px;
}

.loja-subtitle {
  font-size: 1.2rem;
  color: #6c757d;
}

.vitrine-container {
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.vitrine-title {
  text-align: center;
  color: #d63384;
  margin-bottom: 30px;
}

.grid-produtos {
  display: grid;
  /* Cria 4 colunas de tamanhos iguais se houver espaço (mínimo de 220px por card) */
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px; /* Espaçamento entre os cards */
  width: 100%;
}

.produto-card {
  background-color: white;
  border-radius: 15px;
  /* width: 280px */
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0,0,0,0.05);
  text-align: center;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.produto-imagem {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.produto-nome {
  font-size: 1.2rem;
  margin: 15px 10px 5px 10px;
  color: #495057;
}

.produto-detalhe {
  font-size: 0.9rem;
  color: #6c757d;
  margin: 0 0 10px 0;
}

.produto-preco {
  font-size: 1.4rem;
  font-weight: bold;
  color: #28a745;
  margin: 10px 0;
}

.produto-botao {
  background-color: #d63384;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 1rem;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  margin: 0 20px;
  transition: background 0.2s;
}

.produto-botao:hover {
  background-color: #b8226e;
}

/* Container do Menu de Categorias */
.loja-menu {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 15px 0 20px 0;
  flex-wrap: wrap;
}

/* Estilo padrão dos botões do menu */
.menu-btn {
  background-color: transparent;
  color: #6c757d;
  border: 2px solid #6c757d;
  padding: 8px 18px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Efeito de passar o mouse */
.menu-btn:hover {
  color: #d63384;
  border-color: #d63384;
  background-color: rgba(214, 51, 132, 0.05);
}

/* Classe de botão Ativo (Destaque da Categoria selecionada) */
.menu-btn.ativo {
  background-color: #d63384;
  color: white;
  border-color: #d63384;
  box-shadow: 0 4px 10px rgba(214, 51, 132, 0.2);
}

/* Pequeno espaçamento para a frase de efeito */
.loja-subtitle-frase {
  font-size: 1.1rem;
  color: #8c959d;
  font-style: italic;
}